<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/task   
    http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />   
    
    <task:annotation-driven />
    
   
    <!-- 政务网上行：上传松香水烟花爆竹信息 -->
    <bean id="synZwfwUplinkJob" class="com.safetys.syn.service.SynZwfwUplinkJob" >  
        <property name="close"  value="false" />   
    </bean>
    
	<task:scheduled-tasks>
		<!-- 0 0/1 * * * ?-->
	    <task:scheduled ref="synZwfwUplinkJob" method="doBiz" cron="30 0/1 * * * ?" />
	</task:scheduled-tasks >
	
</beans>
